<!DOCTYPE html>
<html lang="en",
        xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
</head>
<body>
<h1>Witaj w Pizzerii</h1>
<img th:src = "@{/pizza.png}" alt = "obrazek"/>
<h2>Menu:</h2>
<div>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Składniki</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}">
            <td th:text=" ${pizza.id}">Id</td>
            <td th:text="${pizza.name}">name</td>
            <td th:text="${pizza.ingridientsSet}">ingredients</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
